<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Objects tracker</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
<body>
  <main id="main">  
  <% if(objects.length) { %>
      <% objects.forEach(({ name, coordsX, coordsY}) => { %>
      <div class="object" style="left: <%= coordsX %>px; top: <%= coordsY %>px;"><div class="relative"><div class="info">
        <h1><%= name %></h1>
          <p>X:<%= coordsX %></p>
          <p>Y:<%= coordsY %></p>
      </div></div></div> 
      <% }) %>
      <% } %>
  </main>
  <div id="scaling"><button id="minus-scale" onclick="javascript: minusScale();">-</button><button id="plus-scale" onclick="javascript: plusScale();">+</button></div>
      <script src="./js/scaling.js"></script>
</body>
</html>
